In [1]:
import pandas as pd
import numpy as np
from Univariate import cat
import warnings
warnings.filterwarnings("ignore")

D:\APPS\Anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
dataset=pd.read_csv('merged_data.csv')

In [3]:
dataset

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,20.750000,Low Fat,0.007565,Snack Foods,107.8622,Medium,Tier 1,Supermarket Type1,NaN
1,8.300000,reg,0.038428,Dairy,87.3198,Medium,Tier 2,Supermarket Type1,NaN
2,14.600000,Low Fat,0.099575,Others,241.7538,Medium,Tier 3,Grocery Store,NaN
3,7.315000,Low Fat,0.015388,Snack Foods,155.0340,Medium,Tier 2,Supermarket Type1,NaN
4,12.792854,Regular,0.118599,Dairy,234.2300,Medium,Tier 3,Supermarket Type3,NaN
...,...,...,...,...,...,...,...,...,...
14199,6.865000,Low Fat,0.056783,Snack Foods,214.5218,High,Tier 3,Supermarket Type1,2778.3834
14200,8.380000,Regular,0.046982,Baking Goods,108.1570,Medium,Tier 2,Supermarket Type1,549.2850
14201,10.600000,Low Fat,0.035186,Health and Hygiene,85.1224,Small,Tier 2,Supermarket Type1,1193.1136
14202,7.210000,Regular,0.145221,Snack Foods,103.1332,Medium,Tier 3,Supermarket Type2,1845.5976
14203,14.800000,Low Fat,0.044878,Soft Drinks,75.4670,Small,Tier 1,Supermarket Type1,765.6700

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           14204 non-null  float64
 1   Item_Fat_Content      14204 non-null  object
 2   Item_Visibility       14204 non-null  float64
 3   Item_Type             14204 non-null  object
 4   Item_MRP              14204 non-null  float64
 5   Outlet_Size           14204 non-null  object
 6   Outlet_Location_Type  14204 non-null  object
 7   Outlet_Type           14204 non-null  object
 8   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(4), object(5)
memory usage: 998.8+ KB

In [5]:
dataset['Item_Outlet_Sales'].isnull().sum()

5681

In [6]:
dataset['Item_Outlet_Sales'].dtypes

dtype('float64')

In [7]:
dataset['Item_Outlet_Sales'].fillna(dataset['Item_Outlet_Sales'].mean(),inplace=True)

In [8]:
#check all missing data filled
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Weight           14204 non-null  float64
 1   Item_Fat_Content      14204 non-null  object
 2   Item_Visibility       14204 non-null  float64
 3   Item_Type             14204 non-null  object
 4   Item_MRP              14204 non-null  float64
 5   Outlet_Size           14204 non-null  object
 6   Outlet_Location_Type  14204 non-null  object
 7   Outlet_Type           14204 non-null  object
 8   Item_Outlet_Sales     14204 non-null  float64
dtypes: float64(4), object(5)
memory usage: 998.8+ KB

In [9]:
dataset

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,20.750000,Low Fat,0.007565,Snack Foods,107.8622,Medium,Tier 1,Supermarket Type1,2181.288914
1,8.300000,reg,0.038428,Dairy,87.3198,Medium,Tier 2,Supermarket Type1,2181.288914
2,14.600000,Low Fat,0.099575,Others,241.7538,Medium,Tier 3,Grocery Store,2181.288914
3,7.315000,Low Fat,0.015388,Snack Foods,155.0340,Medium,Tier 2,Supermarket Type1,2181.288914
4,12.792854,Regular,0.118599,Dairy,234.2300,Medium,Tier 3,Supermarket Type3,2181.288914
...,...,...,...,...,...,...,...,...,...
14199,6.865000,Low Fat,0.056783,Snack Foods,214.5218,High,Tier 3,Supermarket Type1,2778.383400
14200,8.380000,Regular,0.046982,Baking Goods,108.1570,Medium,Tier 2,Supermarket Type1,549.285000
14201,10.600000,Low Fat,0.035186,Health and Hygiene,85.1224,Small,Tier 2,Supermarket Type1,1193.113600
14202,7.210000,Regular,0.145221,Snack Foods,103.1332,Medium,Tier 3,Supermarket Type2,1845.597600
14203,14.800000,Low Fat,0.044878,Soft Drinks,75.4670,Small,Tier 1,Supermarket Type1,765.670000

In [10]:
#call  using functions to seperate the numerical and categrorical data.. working fine
quan,qual=cat.quanQual(dataset)

In [11]:
qual

['Item_Fat_Content',
 'Item_Type',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [12]:
quan

['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Item_Outlet_Sales']

In [ ]:
#interquartile - remove lesser and greater outlier

In [22]:
#calling dash for function 
dash=cat.Uni(dataset, quan)

In [23]:
dash

         Item_Weight Item_Visibility    Item_MRP Item_Outlet_Sales
Mean       12.792854        0.065053  141.004977       1993.377864
Median     12.792854        0.054021     142.247       2181.288914
Mode       12.792854             0.0    172.0422       2181.288914
Q1:25%           9.3        0.027036      94.012          1468.089
Q2:50%     12.792854        0.054021     142.247       2181.288914
Q3:75%          16.0        0.094037    185.8556       2181.288914
99%            20.85         0.19454  262.759322       3251.088784
Q4:100%        21.35         0.19454    266.8884       3251.088784
IQR              6.7        0.067002     91.8436        713.199914
1.5rule        10.05        0.100502    137.7654        1069.79987
Lesser         -0.75       -0.073467    -43.7534         398.28913
Greater        26.05         0.19454     323.621       3251.088784
Min            4.555             0.0       31.29         398.28913
Max            21.35         0.19454    266.8884       3251.088784
kurtosis   -0.860626       -0.065348   -0.893856         -0.564317
skewness    0.111314        0.815193    0.130728         -0.394564

In [27]:
#identify outliers using functions
lesser,greater=cat.identify_outliers(dataset,quan,dash)

In [28]:
lesser

[]

In [29]:
greater

[]

In [30]:
dataset=cat.replace_outlier(dataset, quan, dash, lesser, greater)

In [31]:
dash

         Item_Weight Item_Visibility    Item_MRP Item_Outlet_Sales
Mean       12.792854        0.065053  141.004977       1993.377864
Median     12.792854        0.054021     142.247       2181.288914
Mode       12.792854             0.0    172.0422       2181.288914
Q1:25%           9.3        0.027036      94.012          1468.089
Q2:50%     12.792854        0.054021     142.247       2181.288914
Q3:75%          16.0        0.094037    185.8556       2181.288914
99%            20.85         0.19454  262.759322       3251.088784
Q4:100%        21.35         0.19454    266.8884       3251.088784
IQR              6.7        0.067002     91.8436        713.199914
1.5rule        10.05        0.100502    137.7654        1069.79987
Lesser         -0.75       -0.073467    -43.7534         398.28913
Greater        26.05         0.19454     323.621       3251.088784
Min            4.555             0.0       31.29         398.28913
Max            21.35         0.19454    266.8884       3251.088784
kurtosis   -0.860626       -0.065348   -0.893856         -0.564317
skewness    0.111314        0.815193    0.130728         -0.394564

In [33]:
freqTable=cat.freqTable('Item_Weight', dataset)

In [34]:
freqTable

     Unique_Values  Frequency  Relative Frequency      Cusum
0        12.792854       2439            5.862981   5.862981
1        17.600000        135            0.324519   6.187500
2        12.150000        127            0.305288   6.492788
3        10.500000        123            0.295673   6.788462
4        13.650000        115            0.276442   7.064904
..             ...        ...                 ...        ...
411       6.765000          7            0.016827  34.084135
412       4.555000          7            0.016827  34.100962
413       7.850000          6            0.014423  34.115385
414       9.035000          6            0.014423  34.129808
415       4.615000          6            0.014423  34.144231

[416 rows x 4 columns]